# Gradle 관련 디렉토리와 캐시 파일 제외
.gradle
build/

# IntelliJ IDEA나 Eclipse와 같은 IDE 관련 파일 제외
*.iml
.idea/
*.class
*.log

# Git 관련 파일 제외
.git
.gitignore

# 운영체제에서 생성된 임시 파일 제외
*.DS_Store
*.tmp
*.swp

# Docker 자체 파일 제외
Dockerfile
docker-compose.yml
